@import "src/styles/palette";

:host {
  height: 100%;
}

.dialog-title {
  border-radius: 3px;
  background: $light-pink;
  padding: 5px;
  font-size: 1em;
  word-wrap: break-word;
  color: white;
  text-align: center;
}

.dialog-content {
  height: 150px;
  .data-title {
    width: 50%;
    font-size: 1.2em;
    font-weight: 500;
  }

  .data-description {
    width: 50%;
    font-size: 1.2em;
    a {
      color: white;
    }
  }
}


